@model IEnumerable<TestEFCore.Entity.ESSPLUser>

<P>
    @Html.ActionLink("Create New User", "Create", "Home", null, new { @class = "btn btn-primary" })

</P>
<table class="table">


    <thead>
        <tr>
            <th>UserName</th>
            <th>Is Active</th>
            <th>Roles</th>
            <th>Modified On</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.IsActive</td>
                <td>
                    @string.Join(", ", user.UserRoles.Select(ur => ur.Role.RoleName))
                </td>
                <td>@user.ModifiedOn.ToString("yyyy-MM-dd")</td>

                <td>
                    @Html.ActionLink("Edit", "Edit", "Home", new { id = user.UserID }, new { @class = "btn btn-warning btn-sm" })
                 
                    @Html.ActionLink("Delete", "Delete", "Home", new { id = user.UserID }, new { @class = "btn btn-danger btn-sm" })
                </td>
                
            </tr>
        }
    </tbody>
</table>
