@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<DTO.Students>


<h1>Student List</h1>
<p>
    @Html.ActionLink("Create New Employee", "Create", "Student", null, new { @class = "btn btn-primary" })
</p>

<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>SL.NO</th>
            <th>StudentName</th>
            <th>Email</th>
            <th>Age</th>
            <th>Address</th>
            <th>Addmission_Date</th>
            <th>DOB</th>
            <th>Gender</th>
            <th>Functionality</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var Student in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => Student.StudentId)</td>
                <td>@Html.DisplayFor(m => Student.StudentName)</td>
                <td>@Html.DisplayFor(m => Student.StudentEmail)</td>
                <td>@Html.DisplayFor(m => Student.StudentAge)</td>
                <td>@Html.DisplayFor(m => Student.Address)</td>
                <td>@Html.DisplayFor(m => Student.AddmissionDate)</td>
                <td>@Html.DisplayFor(m => Student.DOB)</td>
                <td>@Html.DisplayFor(m => Student.Gender)</td>
                <td>
                    @Html.ActionLink("Modify", "Edit", "Student", new { id = Student.StudentId }, new { @class = "btn btn-warning btn-sm" })
                    @* @Html.ActionLink("Details", "Details", "Student", new { id = Student.StudentId }, new { @class = "btn btn-info btn-sm" }) *@
                    @Html.ActionLink("Remove", "Delete", "Student", new { id = Student.StudentId }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }
    </tbody>
</table>



