@{
    ViewData["Title"] = "Home Page";
}
@model DTO.Models.UserProfile
<h1>Welcome to Student Portal</h1>

@Html.ActionLink("Create User", "CreateUser", "Home", null, new { @class = "btn btn-success mb-3" })

<div>

</div>

@using (Html.BeginForm("LoginAction", "Home", FormMethod.Post))
{


    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @* <div>
        <label for="UserName">Name:</label>
        
        @Html.TextBox("Name", "", new { @class = "form-control", required = "required" })
    </div>

    <div>
        <label for="UserPassword">Password:</label>
        @Html.Password("Password", "", new { @class = "form-control", required = "required" })
    </div> *@
    <div>
        @Html.LabelFor(m => m.UserName)
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Enter Name" })
        @Html.ValidationMessageFor(m => m.UserName, "Enter valid username", new { @class = "text-danger" })
    </div>

    <div>
        @Html.LabelFor(m => m.UserPassword)
        @Html.TextBoxFor(m => m.UserPassword, new { @class = "form-control", placeholder = "Enter Password" })
        @Html.ValidationMessageFor(m => m.UserPassword, "Enter valid password", new { @class = "text-danger" })
    </div>


    <div>
        <button type="submit" class="btn btn-primary">Login</button>
       
    </div>
}


