@model TestApp1.DTO.Employee

<h1>Employee Details</h1>
<div style="width:80%;">

    @using (Html.BeginForm("Submit", "Employee", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.Id)

        <div>
            @Html.LabelFor(emp => emp.Name)
            @Html.TextBoxFor(emp => emp.Name, new { @class = "form-control", placeholder = "Enter Name" })
            @Html.ValidationMessageFor(emp => emp.Name, "", new { @class = "text-danger" })
        </div>

        <br />

        <div>
            @Html.LabelFor(emp => emp.Age)
            @Html.TextBoxFor(emp => emp.Age, new { @class = "form-control", placeholder = "Enter Age" })
            @Html.ValidationMessageFor(emp => emp.Age, "", new { @class = "text-danger" })
        </div>

        <br />

        <div>
            @Html.LabelFor(emp => emp.Email)
            @Html.TextBoxFor(emp => emp.Email, new { @class = "form-control", placeholder = "Enter Email" })
            @Html.ValidationMessageFor(emp => emp.Email, "", new { @class = "text-danger" })
        </div>

        <br />

        <div>
            @Html.LabelFor(emp => emp.Department)
            @Html.TextBoxFor(emp => emp.Department, new { @class = "form-control", placeholder = "Enter Department" })
            @Html.ValidationMessageFor(emp => emp.Department, "", new { @class = "text-danger" })
        </div>

        <br />


        @* @Html.RadioButtonFor(emp => emp.Gender, "1") *@

        @* <span>MALE</span> *@
        @* @Html.RadioButtonFor(emp => emp.Gender, "2") *@

        @* <span>FEMALE</span> *@


        @* @Html.RadioButtonFor(emp => emp.Gender, "1") *@

        @* <span>OTHERS</span> *@

        @foreach(var gender in(List<SelectListItem>)ViewData["Gender"])
        {
            <label>
                @Html.RadioButtonFor(m=>m.Gender, gender.Value)@gender.Text
            </label>
            <br />
        }

        <div>
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    }



