@using TestApp1.DTO

@model Employee

<h1> Employee Details</h1>
<div style="width:80%;">

    @using (Html.BeginForm("Submit", "EmployeeView", FormMethod.Post))
    {
        <div>
            @Html.LabelFor(emp => emp.Name)
            @Html.TextBoxFor(emp => emp.Name, new { @class = "form-control", placeholder = "Enter Name" })
            @Html.ValidationMessageFor(emp => emp.Name, "", new { @class = "text-danger" })
        </div>

        <br />

        <div>
            @Html.LabelFor(emp => emp.Age)
            @Html.TextBoxFor(emp => emp.Age, new { @class = "form-control", placeholder = "Enter Age" })
            @Html.ValidationMessageFor(emp => emp.Age, "", new { @class = "text-danger" })
        </div >

        <br />

        <div>
            @Html.LabelFor(emp => emp.Email)
            @Html.TextBoxFor(emp => emp.Email, new { @class = "form-control", placeholder = "Enter Email" })
            @Html.ValidationMessageFor(emp => emp.Email, "", new { @class = "text-danger" })
        </div>

        <br />

        <div>
            @Html.LabelFor(emp => emp.Department)
            @Html.TextBoxFor(emp => emp.Department, new { @class = "form-control", placeholder = "Enter Department" })
            @Html.ValidationMessageFor(emp => emp.Department, "", new { @class = "text-danger" })
        </div>

        <br />


        <div>
            <input type = "submit" value = "Save" class= "btn btn-primary" />
        </div>
    }


</div>
@{Html.RenderPartial("_EmployeeList", (List<Employee>)ViewData["EmployeeList"]);

    }
    </div>
    @section scripts{
        @Html.Partial("_ValidationScriptsPartial");
    }
